@{
    ViewData["Title"] = "Local Events and Accouncemetns Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/localEventsAndAnnouncements.css" asp-append-version="true" />
</head>

<div class="text-center">
    <h1 class="display-4">Local Events And Announcements</h1>

    <h3 class="mt-4">To be Implemented Later</h3>


</div>
